.loader {
  transform: translateY(-50%);

  display: block;

  width: 40px;
  height: 40px;
  margin: 0 auto;

  border: 2px solid #eee;
  border-top: 2px solid transparent;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}
