{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-clean-order"],
  "plugins": ["stylelint-order"],
  "rules": {
    "scss/dollar-variable-empty-line-before": null,
    "selector-class-pattern": null
  }
}
